@import "src/assets/styles/global.scss";
@import "src/assets/styles/mixin";
@import "src/assets/styles/variable";

.root {
  box-shadow: 0px 9px 11px 0px rgb(0 0 0 / 30%);
  background: $color-background;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #234a71 0, #101519 40%, #151d25 100%);
  transition: .5s;
}

.hello {
  color: #fff;
  display: flex;
  text-align: center;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 700;
}
// .flex{display: flex;}  
.icon-header {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  // padding: 0 3px;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.icon-headerr {
  display: flex;
  // width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  // padding: 0 3px;
  margin: 1rem 0.5rem;
  // cursor: pointer;
}

.search {
  width: 32%;
  margin-top: 0.5rem;
}

.form-control {
  border-radius: 20px !important;
  box-shadow: none !important;
  border: 1px solid #00acc1;
  color: #fff;
  font-size: 13px;
  border-radius: 20px !important;
  transition: .7s all;
  padding: 10px 20px;
  background: #2f3441 5px 2px no-repeat;

}

.form-control:focus {
  border-radius: 3px !important;
  transition: .7s all;
  border: 1px solid #00acc1;
  outline: none;
}

.form-control:focus-visible {
  border: 1px solid #00acc1;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  margin: 0 6%;

  &:hover {
    background-position: right center;
  }
}

.active {
  background-color: $color-background;
}

.logo {
  // max-width: 200px;
  width: 1.5rem;
  height: 1.5rem;
}

.p-logo {
  margin: 0;
  padding: 0 0.5rem;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navbar {
  display: flex;
  gap: 3px;
  margin: 0 6% 0 2%;
  padding: 5px;

}

.nav-menu {
  background: #101821, ;
  display: flex;
  flex: 1 1 80%;
  padding: 0 6%;
  justify-content: space-between;
}

.item {
  transform: skew(-20deg);
  transition: 500ms;
  padding: 1rem;

  &:hover {
    transition: 500ms;
    transform: skew(-20deg) scale(1.2);
    // background-color: rgb(153, 0, 0);
    background-color: #00acc1;
    z-index: 10000;
  }

  &:hover>.content {
    transition: 500ms;
    color: $color-p-white;
  }
}

.content {
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  transform: skew(20deg);
  font-weight: 700;
  // color: $color-p-black;
}

.profile-dropdown-menu {
  min-width: 180px;
}

.profile-menu .user-full-name-info {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

.profile-menu .username-info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.dropdown-item {
  padding: 10px 12px;
}

.dropdown-item a {
  padding: 10px 12px;
  margin: -10px -12px;
}

.nav-icon {
  font-size: 20px;
}

.poll-icon {
  margin-top: -4px;
}

@media (max-width: 768px) {
  .app-title a {
    font-size: 20px;
  }

  .app-menu>li {
    padding: 0 15px;
  }

  .app-menu>li>a {
    padding: 0 15px;
    margin: 0 -15px;
  }
}