@import "src/assets/styles/global.scss";
@import "src/assets/styles/mixin";
@import "src/assets/styles/variable";

.root {
  box-shadow: 0px 9px 11px 0px rgb(0 0 0 / 30%);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
}

.logo {
  max-width: 200px;
}

.navbar {
  display: flex;
  gap: 3px;
}

.item {
  transform: skew(-20deg);
  transition: 500ms;
  padding: 20px;

  &:hover {
    transition: 500ms;
    transform: skew(-20deg) scale(1.2);
    background-color: rgb(153, 0, 0);
    z-index: 10000;
  }

  &:hover > .content {
    transition: 500ms;
    color: $color-p-white;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-self: center;
  transform: skew(20deg);
  color: $color-p-black;
}
.profile-dropdown-menu {
  min-width: 180px;
}

.profile-menu .user-full-name-info {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

.profile-menu .username-info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.dropdown-item {
  padding: 10px 12px;
}

.dropdown-item a {
  padding: 10px 12px;
  margin: -10px -12px;
}

.nav-icon {
  font-size: 20px;
}

.poll-icon {
  margin-top: -4px;
}

@media (max-width: 768px) {
  .app-title a {
    font-size: 20px;
  }

  .app-menu > li {
    padding: 0 15px;
  }

  .app-menu > li > a {
    padding: 0 15px;
    margin: 0 -15px;
  }
}
